<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <td>ID</td>
        <td>name</td>
        <td>PASSWORD</td>
        <td>MAILADDRESS</td>
        <td>削除</td>
        {% for record in records %}
        <tr>
            <td><a href="/delete/?id={(record[0])}">{{ record[0] }}</a></td>
            <td>{{ record[1] }}</td>
            <td>{{ record[2] }}</td>
            <td>{{ record[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>